<!-- <div class="custom_code_block_title"> -->
  <!-- <button class=code_copy_block onclick="copy()"> -->
    <!-- COPY CODE -->
  <!-- </button> -->
<!-- </div> -->

<style>

#highlight_render {
    position: relative;
    border: 1px solid var(--text);
}

#highlight_render::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-tint);
    z-index: 1;
    pointer-events: none;
}

</style>


{{ $result := transform.HighlightCodeBlock . }}
<div id="highlight_render">
  {{ $result.Wrapped }}
</div>

