<header>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta charset="UTF-8">
  <div class="site_title_index">
    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  </div>
  {{ with .Site.Menus.main }}
  <nav>
    <ul>
      {{ range . }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
</header>
